article h1, article h2, article h3, article h4, article p, article ul, article blockquote, article ol { width: 700px; margin: 0 auto; }
img + ul {
  margin-top: 77px;
}

ul { list-style-type: disc;

}
